{% extends 'base.html' %}{% block title%}{{title}}{% endblock %}
{% block content %}
<div class="container">
    <br></br>
    <h1>About Us</h1>
    <br></br>
    <h2>Our Achievements</h2>
    <p>We'll have a paragraph with queries that will display our accomplishments</p>
    <p>Such as top brokers, investments we offer and our available branch locations</p>

    <h2>Being a diverse and inclusive workplace</h2>
    <p>At Beyond Brokerage, we're committed to cultivating a diverse and inclusive workplace and focusing on partnerships that drive change and address critical challenges facing our communities. Creating an inclusive environment starts at the top and extends to all of our company. Our Board, its committees and our CEO play a key role in the oversight of our culture, holding management accountable for ethical and professional conduct and a commitment to being a diverse and inclusive workplace</p>

    <h2>Investing in securities involves risks, and there is always the potential of losing money when you invest in securities.</h2>
    <p>This material does not take into account your particular investment objectives, financial situations or needs and is not intended as a recommendation, offer or solicitation for the purchase or sale of any security, financial instrument, or strategy. Before acting on any information in this material, you should consider whether it is suitable for your particular circumstances and, if necessary, seek professional advice. Any opinions expressed herein are given in good faith, are subject to change without notice, and are only correct as of the stated date of their issue.</p>
    <p>Content contained herein may have been produced by an outside party that is not affiliated with Beyond Brokerage or any of its affiliates (Beyond Brokerage). Opinions or ideas expressed are not necessarily those of Beyond Brokerage nor do they reflect their views or endorsement. These materials are for informational purposes only. Beyond Brokerage does not assume liability for any loss or damage resulting from anyone's reliance on the information provided. Certain links may direct you away from Beyond Brokerage to an unaffiliated site. Beyond Brokerage has not been involved in the preparation of the content supplied at the unaffiliated sites and does not guarantee or assume any responsibility for its content. When you visit these sites, you are agreeing to all of their terms of use, including their privacy and security policies.</p>
</div>
{% endblock %}