{% extends 'base.html' %}{% block title%}{{title}}{% endblock %}
{% block content %}

<div class="container-fluid">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger" role="alert">
      {{ messages[0] }}
    </div>
  {% endif %}
  {% endwith %}

  {% if 'manager' in session.name %}
  <h1>Add Broker</h1>
  <form method="POST">
    <div class="form-group">
      <label for="brokerID">Broker ID</label>
      <input type="text" name="brokerID" class="form-control" id="brokerID" aria-describedby="brokerID" placeholder="Broker ID" required>
    </div>
    <div class="form-group">
      <label for="brokerfn">First Name</label>
      <input type="text" name="brokerfn" class="form-control" id="brokerfn" placeholder="First Name" required>
    </div>
    <div class="form-group">
        <label for="brokerln">Last Name</label>
        <input type="text" name="brokerln" class="form-control" id="brokerln" placeholder="Last Name" required>
    </div>
    <div class="form-group">
      <label for="brokersalary">Salary</label>
      <input type="number" name="brokersalary" class="form-control" id="brokersalary" placeholder="Salary" required>
      </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1" required>Confirm changes</label>
    </div>
    <form action="{{url_for('manager')}}" method="post">
    <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>
  </form>

{% else %}
<h1>Add Client</h1>
  <form method="POST">
    <div class="form-group">
      <label for="clientID">Client ID</label>
      <input type="text" name="clientID" class="form-control" id="clientID" aria-describedby="clientID" placeholder="Last 3 digits for new Client ID" required>
    </div>
    <div class="form-group">
      <label for="clientfn">First Name</label>
      <input type="text" name="clientfn" class="form-control" id="clientfn" placeholder="First Name" required>
    </div>
    <div class="form-group">
        <label for="clientln">Last Name</label>
        <input type="text" name="clientln" class="form-control" id="clientln" placeholder="Last Name" required>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" name="address" class="form-control" id="address" placeholder="Address" required>
  </div>
  <div class="form-group">
    <label for="number">Telephone Number</label>
    <input type="text" name="number" class="form-control" id="number" placeholder="Telephone Number" required>
  </div>
    <div class="form-group">
      <label for="initial">Starting Amount</label>
      <input type="number" name="initial" class="form-control" id="initial" placeholder="Salary" required>
      </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1" required>Confirm changes</label>
    </div>
    <form action="{{url_for('manager')}}" method="post">
    <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>
  </form>

{% endif %}

</div>
{% endblock %}