{% extends 'base.html' %}{% block title%}{{title}}{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Hello {{ session.username }}</h1>
    <hr></hr>
    <h2>Profile</h2>
    <hr></hr>
    <div class="card">
        <h4 class="card-header">{{session.username}}'s Account details</h4>
        <div class="card-body">
          <h6 class="card-text">Account balance: ${{profile.balance}}</h6>
          <h6 class="card-text">Total profit: ${{profile.profit}}</h6>
          <h6 class="card-text">Address: {{profile.address}}</h6>
          <h6 class="card-text">Telephone Number: +1 {{profile.number}}</h6>
          <h6 class="card-text">Broker: {{profile.broker}}</h6>
        </div>
      </div>
    <hr></hr>
    <h2>Current Transactions</h2>
    {% for v in vals%}
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h4 class="card-title">{{v.invName}}</h4>
        <h6 class="card-text mb-2 text-muted">{{v.invType}}</h6>
        <h6 class="card-text mb-2">Purchased at: ${{v.price}}</h5>
        <h6 class="card-text mb-2">Quantity: {{v.quantity}}</h5>
        <h6 class="card-text mb-2">Date: {{v.date}}</h5>
    </div>
    </div>

    {% endfor %}
    {% if not vals %}
    <div class="alert alert-warning" role="alert">
        No transactions to display. Go to <a href="{{url_for('investment')}}">Investments</a> to make a purchase
    </div>
    {% endif %}
</div>
{% endblock %}