{% extends 'base.html' %}{% block title%}{{title}}{% endblock %}
{% block content %}

<div class="container bggr">
    <h1 class="display-6">Available Investments</h1>
</div>

<div class="container">
  {% if 'manager' in session.name %}
  <br></br>
  <a href="{{url_for('addinv')}}" type="button" class="btn btn-primary btn-lg btn-block">Add an Investment</a>
  <br></br>
  {% endif %}
    <div class="row">
        {% for inv in data%}

        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title">{{ inv.invName }}</h4>
              <h5 class="card-subtitle mb-2 text-muted">{{ inv.invType }}</h5>
              <h6 class="card-text"> Investment ID: {{ inv.invID }}</h6>
              <h6 class="card-text"> Risk Assessment: {{ inv.invRA }}</h6>
              {% if 'manager' in session.name %}
              <a href="#" class="btn btn-primary">Update Investment</a>
              <br></br>
              <a href="#" class="btn btn-danger">Remove Investment</a>
              {% endif %}


            </div>
          </div>

        {% endfor %}

    </div>
</div> 

{% endblock %}