{% extends 'base.html' %}{% block title%}{{title}}{% endblock %}
{% block content %}

<div class="container bggr">
    <h1 class="display-6">Available Investments</h1>
</div>
<hr></hr>

<div class="container">
  {% if 'manager' in session.name %}
  <a href="{{url_for('invchanges')}}" type="button" class="btn btn-outline-success btn-lg btn-block">Add an Investment</a>
  <hr></hr>
  <a href="{{url_for('removeinv')}}" type="button" class="btn btn-outline-danger btn-lg btn-block">Remove an Investment</a>
  <hr></hr>
  {% endif %}
  {% if 'broker' in session.name %}
  <a href="{{url_for('invchanges')}}" type="button" class="btn btn-outline-warning btn-lg btn-block">Modify an Investment</a>
  <hr></hr>
  {% endif %}

  {% if 'client' in session.name %}
  <form method="POST">
    <a href="{{url_for('invchanges')}}" type="submit" name="submitbtn" class="btn btn-outline-success btn-lg btn-block" value="purchase">Buy Investments</a>
  </form> 
  <hr></hr>
  <form method="POST">
    <a href="{{url_for('sell')}}" type="submit" name="submitbtn" class="btn btn-outline-success btn-lg btn-block" value="purchase">Sell Investments</a>
  </form> 
  <hr></hr>

  {% endif %}

    <div class="row">
        {% for inv in data%}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title" name="iName">{{ inv.invName }}</h4>
              <h5 class="card-subtitle mb-2 text-muted" name="iType">{{ inv.invType }}</h5>
              {% if not 'client' in session.name %}
              <h6 class="card-text" name="iID"> Investment ID: {{ inv.invID }}</h6>
              {% endif %}
              <h6 class="card-text" name="iRA"> Risk Assessment: {{ inv.invRA }}</h6>
              <h6 class="card-text" name="iRA"> Current price: ${{ inv.price }}</h6>
            </div>
          </div>

        {% endfor %}

    </div>
</div> 

{% endblock %}