{% extends 'base.html' %}{% block title%}{{title}}{% endblock %}
{% block content %}

<div class="container bggr">
    <h1 class="display-6">Available Investments</h1>
</div>

<div class="container">
  {% if 'manager' in session.name %}
  <br></br>
  <a href="{{url_for('invchanges')}}" type="button" class="btn btn-primary btn-lg btn-block">Add an Investment</a>
  <br></br>
  {% endif %}
  {% if 'client' in session.name %}
  <form method="POST">
    <a href="{{url_for('invchanges')}}" type="submit" name="submitbtn" class="btn btn-success btn-lg btn-block" value="purchase">Make Investment</a>
  </form> 
  {% endif %}

    <div class="row">
        {% for inv in data%}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title" name="iName">{{ inv.invName }}</h4>
              <h5 class="card-subtitle mb-2 text-muted" name="iType">{{ inv.invType }}</h5>
              <h6 class="card-text" name="iID"> Investment ID: {{ inv.invID }}</h6>
              <h6 class="card-text" name="iRA"> Risk Assessment: {{ inv.invRA }}</h6>
              <h6 class="card-text" name="iRA"> Current price: {{ inv.price }}</h6>
              {% if 'manager' in session.name %}
              <form method="POST">
                <button type="submit" name="submitbtn" class="btn btn-danger" value="remove">Remove Investment</button>
              </form> 
              {% endif %}
            </div>
          </div>

        {% endfor %}

    </div>
</div> 

{% endblock %}